.landing-page__container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/videos/maintenance_1.mp4");
  background-size: cover;
  background-position: 50% 50%;
  background-color: #fff;
  text-align: center;
  padding: 1px 40px 0 27.5%;
  margin: 0;
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .landing-page__container {
      padding: 1px 0 0 0; } }

.landing-page__title {
  opacity: 0;
  font-size: 4rem;
  color: #000;
  text-transform: capitalize;
  text-align: center;
  margin-top: calc(50vh - 100px); }
  @media only screen and (max-width: 576px) {
    .landing-page__title {
      font-size: 3rem; } }
  .landing-page__title.faded {
    opacity: 1;
    transition: all 2s ease-in-out;
    transform: translate3d(0, -30%, 0); }

.landing-page__subtitle {
  font-style: italic;
  font-size: 3rem;
  color: #242424;
  text-align: center;
  opacity: 0.9;
  width: 45%;
  margin: 0 auto; }
  @media only screen and (max-width: 576px) {
    .landing-page__subtitle {
      width: 75%;
      margin: 0 auto;
      font-size: 2rem; } }

.landing-page__icon {
  transform: rotateZ(90deg);
  animation: blinker 1.7s linear infinite;
  font-size: 4rem !important;
  position: relative;
  top: 3rem; }

@keyframes blinker {
  50% {
    opacity: 0; } }
