.admin{
  text-align: center;

  &__upload{
    &__wrapper{
      >div{
        width: 100% !important;
        height: 200px !important;
      }
    }
    &__checkbox{
      margin: 15px 0;
    }
  }

  &__manage{
    &__list{
      &__item{
        text-align: left;
        &__input{
          text-align: left;
          width: 175px !important;
          left: 40px
        }
        &__button{
          position: relative;
          bottom: 15px;
          left: 20px;
        }
        &__icon{
          top:30px !important;
          width: 60px !important;
          height: 60px !important;
          &-delete{
            top: 30px !important;
          }
        }
      }
    }
  }
}

.image__thumbnail{
  height: 200px;
  float: left;
  background-position: 50% 50%;
  background-size : cover;
  background-repeat: no-repeat;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.disabled{
  opacity: 0.5;
  background-color: lightgrey;
}
