@import './constant.scss';

@font-face {
  font-family: 'brandon-grotesque';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/brandon-grotesque.otf');
}

@font-face {
  font-family: 'brandon-grotesque-light';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/brandon-grotesque-light.otf');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
  text-align: center;
  padding: 0 50px 0 27.5%;
  margin: 0;
  width: 100%;
  height: 100%;

  .row {
    margin: 0;
    padding: 0;
  }

  @media #{$s} {
    padding: 0 20px 0 20px;
  }

  @media #{$xs} {
    padding: 0 10px 0 10px;
  }
}

.cookie-consent__container {
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: #000;
  position: fixed;
  padding: 0.5em 1.8em;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'brandon-grotesque-light';
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 999999;
  transition: opacity 1s ease;
}

.cookie-consent__container.ninja {
  opacity: 0;
  z-index: 0;
  display: none;
}

.cookie-consent__text {
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  margin-right: 1em;
}

.cookie-consent__button {
  color: #000;
  border-color: transparent;
  padding: 5px 20px;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
  margin: auto;
}

body {
  font-family: 'brandon-grotesque-light';
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: $bdp-grey;
}
.global {
  &__center {
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  &__progress-bar {
    position: absolute;
    top: 50vh;
  }

  &__button {
    margin: 15px 20px;
  }

  &__divider {
    border-color: $bdp-grey;
    @media #{$xs} {
      margin-left: 5px;
      margin-left: 5px;
    }
  }
}

.no-overflow {
  overflow: hidden;
}
