@import 'global/constant';

.container{
  width:100%;
  padding:0;

  .row{
    margin: 0;
    padding:0;
  }
}

.container{
  padding: 10px 10px 0 10px;
  //float: right;
  margin: 0;
  width:100%;
  height: 100%;

  @media screen and (min-width: $break-medium) {
    //width: 77% !important;
    padding: 70px 15px 50px 15px !important;
  }
}

.outer__container{
  width: 100%;
  height: 100%;
  padding: 0;
  @media screen and (min-width: $break-medium) {
      padding: 0 0 0 250px;
  }
}

.github-link__logo{
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: url(../images/github.png) 50% 50% /contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;

  @media screen and (min-width: $break-small) {
    width: 20px;
    height: 20px;
  }
}
