@import "global/constant.scss";

.contact {
  padding: 0 15px !important;

  &__wrapper {
    padding: 20px 30px;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
  }

  &__title {
    font-size: 35px;
    line-height: 0px;
  }

  &__subtitle {
    font-size: 20px;
    margin-top: 60px;
  }

  &__input {
    display: block;
    &-email,
    &-subject {
      width: calc(50% - 20px);
      margin: 0 5px;

      @media #{$xs} {
        width: calc(100% - 30px) !important;
      }
    }
    &-message {
      
      width: calc(100% - 30px);
      margin: 10px auto 20px;
      
    }
  }

  &__button {
    max-width: 200px;
    margin: 30px auto 20px;
  }
}
