.ril-toolbar{
  background-color: transparent;
  &-right{
    padding: 0;
  }
}

.ril-close{
  //background: url('../images/cross.png') 50% 50% /contain !important;
  background-repeat: no-repeat !important;
  width: 25px;
  width: 25px;
  margin: 25px;
}

.ril-outer{
  //background-color: transparent;
}

.ril-prev-button, .ril-next-button{
  top:50%;
  margin: 0 5px;;
  width: 35px;
  height: 35px;
  padding: 30px 30px;
}

// .ril-prev-button{
//   right:50%;
//   left: unset;
// }
//
// .ril-next-button{
//   left:50%;
//   right:unset;
// }
