@import 'global/constant';

.masonry-wall{
  list-style-type: none;

  li{
    padding: 7px;
    text-align: center;

    img{
      width:100%;
      transition: opacity 1s ease-in;
      opacity: 0;
      &.veil{
        opacity: 1;
        width:100%;
      }
      // &.moche{
      //   height:500px
      // }
    }

    @media #{$xs}{
      padding:4px;
    }
  }
}

.masonry-brick__image{
  //transition: all .5s;
  //opacity: 0;
  transition: opacity .3s ease-in;

  // .revealed{
  //   opacity: 1;
  // }

}
.masonry-brick__container:hover{
  .masonry-brick__image {
    transform: scale(1.015);
    //opacity:.5;
    cursor:pointer;
  }
}
