@import 'global/constant.scss';


.lazyload,
.lazyloading {
  //filter: blur(4px);
}
.lazyloaded {
  transition: .5s -webkit-filter ease-in-out;
}

// -------------------------
.masonry-layout {
  list-style-type: none;
  column-count: 3;
  column-gap: 0;
  padding: 0;

  @media #{$s}{
    column-count: 2;
  }
}
.masonry-layout__panel {
  break-inside: avoid;
  padding: 5px;
  cursor:pointer;
  &:hover{
    opacity: .95;
  }
}
.masonry-layout__panel-content {
  width: 100%;
  overflow: hidden;
}
//-----------------------------
