@import '../../styles/constant.scss';
.preferences {
  &__container {
    padding: 80px 0 0 27.5%;
    margin: 0 auto;
    max-width: 650px;

    @media #{$s} {
      padding: 90px 0 0 0;
      max-width: 85%;
    }
  }

  &__wrapper {
    padding: 20px 30px;
    @media #{$xs} {
      padding: 20px 0;
    }
  }

  &__title {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    @media #{$xs} {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  &__title-wrapper {
    border-bottom: 1px solid black;
  }

  &__subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__button {
    display: block !important;
    width: 175px !important;
    margin: 25px auto 10px auto !important;
  }

  &__radio-group {
    margin-left: 30px;

    @media #{$xs} {
      margin-left: 40px;
    }
  }
}
