@import '../../styles/constant.scss';
.preferences {
  padding: 0 15px !important;

  &__wrapper {
    // width:60% !important;
    padding: 20px 30px;
    margin: 0 auto;
    //text-align: center;
    max-width: 650px;
    @media #{$xs} {
      padding: 20px 0;
    }
  }

  &__title {
    font-size: 35px;
    line-height: 0px;
    text-align: center;
    @media #{$xs} {
      font-size: 25px;
    }
  }

  &__subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__button {
    width: 175px !important;
    margin: 25px auto 10px auto;
  }

  &__radio-group {
    margin-left: 30px;

    @media #{$xs} {
      margin-left: 40px;
    }
  }
}
