@import '~@styles/constant.scss';

.contact {
  &__container {
    padding: 80px 0 0 27.5%;

    @media #{$s} {
      padding: 80px 0 0 0;
    }
  }
  &__wrapper {
    padding: 20px 30px;
    margin: 0 auto;
    text-align: center;
    max-width: 75%;
    margin-top: calc(50vh - 80px);
    transform: translateY(-50%);

    @media #{$s} {
      margin-top: 10px;
      transform: none;
      padding: 20px 5px;
      max-width: 85vw;
      min-width: 245px;
    }
  }

  &__title {
    font-size: 35px;
    line-height: 0px;
  }

  &__subtitle {
    font-size: 20px;
    margin-top: 60px;
  }

  &__input {
    display: block;
    &-email,
    &-subject,
    &-message {
      width: calc(100% - 30px);
      margin: 10px auto 20px;
    }
  }

  &__button {
    max-width: 200px;
    margin: 30px auto 20px;
  }
}
