.contact__container {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 25px 0 0 calc(27.5% - 20px); }
  @media only screen and (max-width: 768px) {
    .contact__container {
      padding: 85px 0 0 0; } }

.contact__wrapper {
  padding: 20px 30px;
  margin: 0 auto;
  text-align: center;
  max-width: calc(100% - 50px);
  height: calc(100vh - 50px);
  /* margin-top: calc(50vh - 80px);
    transform: translateY(-50%); */ }
  @media only screen and (max-width: 768px) {
    .contact__wrapper {
      height: calc(100vh - 115px);
      transform: none;
      padding: 20px 5px;
      min-width: 245px; } }

.contact__title {
  font-size: 35px;
  line-height: 0px; }

.contact__subtitle {
  font-size: 20px;
  margin-top: 60px; }

.contact__input {
  display: block; }
  .contact__input-email, .contact__input-subject, .contact__input-message {
    width: calc(100% - 30px);
    margin: 10px auto 20px; }

.contact__button {
  max-width: 200px;
  margin: 30px auto 20px; }

.contact__helper {
  font-size: 1.25rem !important;
  padding: 0 15px;
  color: red !important; }
