.container {
  padding: 0 0 0 27.5%; }
  @media only screen and (max-width: 768px) {
    .container {
      padding: 80px 0 0 0; } }

.admin {
  text-align: center; }
  .admin__container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 70px); }
    .admin__container--top {
      justify-content: flex-start;
      height: 100vh; }
      @media only screen and (max-width: 768px) {
        .admin__container--top {
          height: calc(100vh - 80px); } }
  .admin__section {
    width: 100%; }
  .admin__login-button, .admin__login-input {
    width: 200px; }
  .admin__login-button {
    top: 16px; }
  .admin__upload-wrapper > div {
    width: 100% !important;
    height: calc(100vh - 48px) !important; }
    @media only screen and (max-width: 768px) {
      .admin__upload-wrapper > div {
        height: calc(100vh - 128px) !important; } }
  .admin__upload__checkbox {
    margin: 15px 0; }
  .admin__manage__list__item {
    text-align: left; }
    .admin__manage__list__item__input {
      text-align: left;
      width: 175px !important;
      left: 40px; }
    .admin__manage__list__item__button {
      position: relative;
      bottom: 15px;
      left: 20px;
      z-index: 99;
      cursor: pointer; }
    .admin__manage__list__item__icon {
      top: 30px !important;
      width: 60px !important;
      height: 60px !important; }
      .admin__manage__list__item__icon-delete {
        top: 30px !important; }
  .admin__manage__actions {
    display: flex;
    text-align: left;
    padding: 15px 25px;
    flex-direction: row;
    margin: 15px; }
    .admin__manage__actions .icon {
      margin-right: 10px; }
    @media only screen and (max-width: 768px) {
      .admin__manage__actions {
        flex-direction: column; } }
  .admin__manage__grid {
    padding: 0 15px 15px 15px; }

.grid-view__image {
  height: 100%;
  background-position: center;
  background-size: cover; }

.image__thumbnail {
  height: 200px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.disabled {
  opacity: 0.5;
  background-color: lightgrey; }

.action-icon {
  color: white; }

.close-icon {
  position: absolute;
  right: 5px;
  top: 5px; }
