@import '~@styles/constant.scss';

.container {
  padding: 0 0 0 27.5%;

  @media #{$s} {
    padding: 80px 0 0 0;
  }
}
.admin {
  text-align: center;

  &__container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 70px);

    &--top {
      justify-content: flex-start;
      height: 100vh;

      @media #{$s} {
        height: calc(100vh - 80px);
      }
    }
  }

  &__section {
    width: 100%;
  }

  &__login {
    &-button,
    &-input {
      width: 200px;
    }

    &-button {
      top: 16px;
    }
  }

  &__upload {
    &-wrapper {
      > div {
        width: 100% !important;
        height: calc(100vh - 48px) !important;

        @media #{$s} {
          height: calc(100vh - 128px) !important;
        }
      }
    }
    &__checkbox {
      margin: 15px 0;
    }
  }

  &__manage {
    &__list {
      &__item {
        text-align: left;
        &__input {
          text-align: left;
          width: 175px !important;
          left: 40px;
        }
        &__button {
          position: relative;
          bottom: 15px;
          left: 20px;
          z-index: 99;
          cursor: pointer;
        }
        &__icon {
          top: 30px !important;
          width: 60px !important;
          height: 60px !important;
          &-delete {
            top: 30px !important;
          }
        }
      }
    }

    &__actions {
      display: flex;
      text-align: left;
      padding: 15px 25px;
      flex-direction: row;
      margin: 15px;

      .icon {
        margin-right: 10px;
      }

      @media #{$s} {
        flex-direction: column;
      }
    }

    &__grid {
      padding: 0 15px 15px 15px;
    }
  }
}

.grid-view {
  &__image {
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}

.image__thumbnail {
  height: 200px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.disabled {
  opacity: 0.5;
  background-color: lightgrey;
}

.action-icon {
  color: white;
}

.close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}
