.lazyloaded {
  transition: 0.5s -webkit-filter ease-in-out; }

.masonry-layout {
  list-style-type: none;
  column-count: 3;
  column-gap: 0;
  padding: 0; }
  @media only screen and (min-width: 1200px) {
    .masonry-layout {
      column-count: 4; } }
  @media only screen and (max-width: 992px) {
    .masonry-layout {
      column-count: 2; } }
  @media only screen and (max-width: 768px) {
    .masonry-layout {
      column-count: 1; } }

.masonry-layout__panel {
  break-inside: avoid;
  padding: 5px;
  cursor: pointer; }
  .masonry-layout__panel:hover {
    opacity: 0.95; }

.masonry-layout__panel-content {
  width: 100%;
  overflow: hidden; }

.diaporama-icon {
  cursor: pointer;
  position: fixed;
  right: 12px;
  bottom: 12px;
  color: #242424;
  z-index: 10001;
  font-size: 30px !important; }
  .diaporama-icon--white {
    color: white; }
  @media only screen and (max-width: 768px) {
    .diaporama-icon {
      color: #242424;
      background-color: white;
      border-radius: 3px;
      opacity: 0.65;
      right: 15px; } }
