@import '../../styles/constant.scss';

.lazyloaded {
  transition: 0.5s -webkit-filter ease-in-out;
}

.masonry-layout {
  list-style-type: none;
  column-count: 3;
  column-gap: 0;
  padding: 0;

  @media #{$s} {
    column-count: 2;
  }
}
.masonry-layout__panel {
  break-inside: avoid;
  padding: 5px;
  cursor: pointer;
  &:hover {
    opacity: 0.95;
  }
}
.masonry-layout__panel-content {
  width: 100%;
  overflow: hidden;
}

.diaporama-icon {
  cursor: pointer;
  position: fixed;
  right: 12px;
  bottom: 12px;
  color: $bdp-grey;
  z-index: 999;
  font-size: 30px;

  &--white {
    color: white;
  }

  @media #{$s} {
    background-color: white;
    border-radius: 3px;
    opacity: 0.65;
    right: 40px;
  }

  @media #{$xs} {
    right: 30px;
  }
}
